


* {
  outline: 1px solid green;
  box-sizing: border-box;
  background: rgb(239, 239, 239);
  
}


.header {
  height: 5%;
  margin: 2px;

}

.mainbody {
  height: auto;
  width: auto;
}

.sidebar {
  display: inline-block;
  width: 2%;
  height: 95%;
  margin: 2px;
}

.vaclist {
 /* outline: 1px solid green; */
 display: inline-block;
 width: 15%;
 height: 95%;
 margin: 2px;
}

.body {
  
  display: inline-block;
  width: 82%;
  height: 95%; 
  margin: 2px;
  
}